services:
  sql:
    image: mcr.microsoft.com/azure-sql-edge:latest
    environment:
      ACCEPT_EULA: "1"
      MSSQL_SA_PASSWORD: "Password@1"
    ports:
      - "1433:1433"
    volumes:
      - angular-dotnet-ecommerce_sql-data:/var/opt/mssql
    platform: linux/amd64
  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

volumes:
  redis-data:
  angular-dotnet-ecommerce_sql-data:
    external: true
