section {
  color: black;
  
  .flex {
    display: flex;
  }
  
  .w-full {
    width: 100%;
  }
  
  .items-start {
    align-items: flex-start;
  }
  
  .gap-6 {
    gap: 1.5rem;
  }
  
  .mt-32 {
    margin-top: 2rem;
  }
  
  .w-3\/4 {
    width: 75%;
  }
  
  .w-1\/4 {
    width: 25%;
  }
}

