.product-card {
    transition: transform 0.2s, box-shadow 0.2s;
    background: white;
    cursor: pointer;
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.product-image-container {
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    background: #f5f5f5;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-title {
    padding: 1rem 0;
    text-align: center;
    
    h2 {
        margin: 0;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 600;
        letter-spacing: 0.05em;
    }
}