<header class="py-3 w-full max-h-20 fixed top-0 z-50 bg-white">
  <div class="flex items-stretch justify-between ml-16 mx-auto">
    <!-- Left: Logo and Nav -->
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="logo-text"
      >Victoria Dexne</a
    >
    <a routerLink="/cart" routerLinkActive="active" class="nav-link cart-link">
      <p>Cart</p>
      <p>({{ cartService.itemCount() || 0 }})</p>
    </a>
  </div>
</header>

@if (busyService.loading) {
<mat-progress-bar
  mode="indeterminate"
  class="fixed top-20 z-50"
></mat-progress-bar>
}

<mat-menu #menu="matMenu" class="px-5">
  <button mat-menu-item class="px-3" routerLink="/cart">Cart</button>
  <button mat-menu-item class="px-3" routerLink="/orders">Orders</button>
  <mat-divider></mat-divider>
  <button mat-menu-item class="px-3" (click)="logout()">Logout</button>
</mat-menu>
