<div class="review-section">
  <h4 class="review-title">Billing and delivery information</h4>
  <dl class="review-info">
    <dt class="info-label">Shipping address</dt>
    @if (shippingAddress) {
    <dd class="info-value">{{ shippingAddress | address }}</dd>
    } @else if (confirmationToken?.shipping) {
    <dd class="info-value">{{ confirmationToken?.shipping | address }}</dd>
    } @else {
    <dd class="info-value">Unknown address</dd>
    } @if (isFreeOrder()) {
    <dt class="info-label">Payment</dt>
    <dd class="info-value">No payment required - Free digital art</dd>
    } @else {
    <dt class="info-label">Payment details</dt>
    <dd class="info-value">
      {{ confirmationToken?.payment_method_preview | paymentCard }}
    </dd>
    }
  </dl>
</div>

<div class="review-items">
  <div class="items-container">
    <table class="items-table">
      <tbody class="items-tbody">
        @for (item of cartService.cart()?.items; track item.productId) {
        <tr class="item-row">
          <td class="item-info">
            <div class="item-details">
              <img
                src="{{ item.pictureUrl }}"
                alt="product image"
                class="item-image"
              />
              <span class="item-name">{{ item.productName }}</span>
            </div>
          </td>
          <td class="item-quantity">x{{ item.quantity }}</td>
          <td class="item-price">{{ item.price | currency }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
