// Ensure all colors are black and white only
section {
  background-color: white !important;
  color: black !important;
}

h2, h3, h4, p, dt, dd, span, strong {
  color: black !important;
  font-family: 'Nunito Sans', sans-serif !important;
}

// Material button overrides - black and white only
button[mat-stroked-button] {
  border-color: black !important;
  color: black !important;
  background-color: white !important;
  font-family: 'Nunito Sans', sans-serif !important;

  &:hover {
    background-color: black !important;
    color: white !important;
    border-color: black !important;
  }

  &:focus {
    background-color: black !important;
    color: white !important;
    border-color: black !important;
    outline: none !important;
  }

  &:active {
    background-color: black !important;
    color: white !important;
    border-color: black !important;
  }

  // Remove ripple effects
  &::before,
  &::after {
    display: none !important;
  }
}

// Material spinner - black only
mat-spinner {
  ::ng-deep circle {
    stroke: black !important;
  }

  ::ng-deep svg {
    color: black !important;
  }
}

// Border and background overrides
.border-black {
  border-color: black !important;
}

.bg-white {
  background-color: white !important;
}

// Ensure all text elements are black
* {
  color: black !important;
}

// Override any Material theme colors
::ng-deep {
  .mat-mdc-button {
    color: black !important;
    border-color: black !important;
  }

  .mat-mdc-outlined-button {
    border-color: black !important;
    color: black !important;
  }

  .mat-mdc-progress-spinner {
    circle {
      stroke: black !important;
    }
  }
}

