<div class="cart-item">
  <div class="cart-item-content">
    <a routerLink="/shop/{{ item().productId }}" class="cart-item-image">
      <img [src]="getImageUrl(item().pictureUrl)" alt="product image" />
    </a>
    <div class="cart-item-details">
      <a routerLink="/shop/{{ item().productId }}" class="cart-item-name">
        {{ item().productName }}
      </a>
      <div class="cart-item-actions">
        <button mat-button class="delete-button" (click)="removeItemFromCart()">
          Remove
        </button>
      </div>
    </div>
    <div class="cart-item-controls">
      <!-- <div class="quantity-controls">
        <button
          mat-icon-button
          class="quantity-button"
          (click)="decrementQuantity()"
          [disabled]="item().quantity <= 0"
        >
          <mat-icon>remove</mat-icon>
        </button>
        <div class="quantity-display">{{ item().quantity }}</div>
        <button
          mat-icon-button
          class="quantity-button"
          (click)="incrementQuantity()"
          [disabled]="item().quantity >= item().quantityInStock"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div> -->
      <div class="price-display">
        <p>{{ item().price | currency }}</p>
      </div>
    </div>
  </div>
</div>
