<div class="home-page">
  <div class="home-background">
    <!-- Main Image -->
    <div class="main-image-container">
      <div class="image-wrapper">
        <img [src]="mainImageUrl" alt="Main Look 5_067" class="main-image" />
      </div>
    </div>

    <!-- Image Caption -->
    <div class="image-caption">
      <p class="text-left">
        Polaroid of Mike Brodie shot by Paul Schiek, from the series:
        <a
          href="https://www.mike-brodie.com/tones-of-dirt-and-bone"
          target="_blank"
          class="caption-link text-left"
        >
          Tones of Dirt and Bone
        </a>
        , 2015
      </p>
    </div>
  </div>
</div>
