<div class="home-page">
  <div class="home-background">
    <!-- Main Image -->
    <div class="main-image-container">
      <div class="image-wrapper">
        @if (mainImageUrl) {
        <img 
          [src]="mainImageUrl" 
          alt="Main Look 5_067" 
          class="main-image"
          [style.object-position]="objectPositionX + '% ' + objectPositionY + '%'"
        />
        } @else {
        <div class="main-image-placeholder">
          <p>Homepage image not set. Please upload an image in the Admin panel.</p>
        </div>
        }
      </div>
    </div>

    <!-- Image Caption -->
    <div class="image-caption">
      <p class="text-left">
        Polaroid of Mike Brodie shot by Paul Schiek, from the series:
        <a
          href="https://www.mike-brodie.com/tones-of-dirt-and-bone"
          target="_blank"
          class="caption-link text-left"
        >
          Tones of Dirt and Bone
        </a>
        , 2015
      </p>
    </div>
  </div>
</div>
